* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://images.unsplash.com/photo-1560801530-34efebfecba8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;

}

.logo{
    display: flex;
    align-content: center;
}
.logo img{
    width:100px;
    margin-left: 25%;
    margin-top: 20px;
}

.header {
    margin: 30px 25px 30px;
}
.header h2{
    font-family: 'Dancing Script', cursive;
    font-size:60px;
    color: red; 
}
.header h4{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    color: rgb(50, 50, 248);
    text-align: center; 
}
/*dropdown menu*/

.dropdown {
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity:.70;
    margin-top:15px;
    background-color: rgb(248, 245, 239);
}

.about ul, 
.flavor ul,
.contact ul {
    position: absolute;
    width:220px;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    border: #1d1c1c 2px bold;
    padding-bottom: 5px;
}
.about li, 
.flavor li,
.contact li {
    padding:5px 5px 5px;
    width:85%;
    height:100%;
    display: flex;
    background-color: #F1F1F1;
    border:black 2px solid;
    border-radius: 10px;
} 
.about li :hover, 
.flavor li :hover,
.contact li :hover {
    border-radius: 5px;
    color:blue;
    font-weight:bolder;
}
.about a,
.flavor a,
.contact a {
    color:black;
    text-decoration:none;
}

.dropdown button,
.home, .history{
    background:none;
    border: none;
    color: rgb(8, 1, 1);
    text-decoration:none;
    font-size: 18px;
    cursor: pointer;
}

.about button:focus + ul,
.flavor button:focus + ul,
.contact button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

/*LOCATIONS*/

.location {
    display: flex;
    flex-direction: row;
    margin-top:80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.location span{
    width:100%;
    margin-bottom: 10px;
}
.location img{
    width:70px;
    float: left;
    margin-left: 20px;
}
.location p{
    font-size: 35px;
    text-align: center;
    color:red ;
    letter-spacing: 2px;
    font-weight:bolder;
}

.location div{
    border: #1d1c1c 2px solid;
    padding:5px 5px 5px;
    align-content: space-around;
    width:400px;
    margin-top: 20px;
    background-color: #F1F1F1;
    opacity: .70;
}
.location h4{
    text-align: center;
    font-weight: bolder;
    color:blue;
    font-size: 18px;
}
.loc h5, address{
    text-align:center;
    font-size:16px;
    padding:5px 5px;
    font-weight: 900;
}


/*KATIES HISTORY*/

#history{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}
.history h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 30px;
    
}
.store{
    width:600px;
    padding-right: 15px;
    
}
.katies{
    background-color: #F1F1F1;
    width:800px;
    opacity: 0.70;
    height: 450px;
    padding-left: 20px;
}
.katies p{
    font-size: 18px;
    color: black;
    padding:10px 10px 10px;
    font-weight:700;
}

/*iCECREAM HISTORY*/

.history-icecream {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    background-color: #F1F1F1;
    opacity: .75;
}
.history-icecream h2{
    text-align: center;
    color:blue;
    margin-top:10px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.history-icecream > div{
    margin: 10px;
    border: 2px solid black;
    background-color: #F1F1F1;
    
}
.history-icecream li{
    display: flex;
    padding:10px 5px 10px;  
    font-size: 18px; 

}
.part1 ul .part2 ul .part3 ul .part4 ul{
    position: absolute;
    display: inline;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: #1d1c1c bold;
    padding-bottom: 5px;
}

/*TRIVIA*/
.trivia{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color:#F1F1F1;
    opacity:.75;
}
.ice h2{
    text-align: center;
    margin-top: 20px;

}
.trivia div{
    border: #1d1c1c 2px solid;
    padding:5px 5px 5px;
    align-content:stretch;
    width:350px;
    margin-top: 10px;
    margin:15px 15px 15px;
}
.trivia span{
    width:100%;
    margin-bottom: 10px;
    font-size: 25px;
    color:red;
    font-family: 'Dancing Script', cursive;
}
.trivia li{
    display: flex;
    text-align: justify;
    padding:7px;
}
.trivia img{
    display: flex;
    width:100%;
}
/*FLAVOR*/
#katiesflavor{
    display: flex;
    flex-direction: row;
    margin-top:80px;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    background-color:#F1F1F1;
    opacity: .80;
}
#katiesflavor span, h4{
    width:100%;
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
    color:red;
    font-weight: 900;
}
#katiesflavor div{
    justify-content: space-around;
    
    margin-top: 20px;
    background-color: #F1F1F1;
    opacity: .70;
}
#katiesflavor li{
    font-size:16px;
    color: blue;
    padding:2px 2px;
    font-weight: 600;
}
.popular p, h5{
    font-size:16px;
    text-align: left;
    color: #4d0101;
}
.others{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    background-color: #F1F1F1;
    opacity: .70;
}
.others div{
    padding:5px 5px 5px;
    align-content: space-between;
    width:400px; 
}
.others span, p{
    width:100%;
    margin-top: 5px;
    text-align: left;
    font-size: 30px;
    color:red;
    font-weight:700;
}

.others li{
    font-size:16px;
    color: blue;
    padding:2px 2px;
    font-weight:600;
}

/*nutritional*/

.nutritional{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    opacity:.70;
}
    
.nutritional div{
    justify-content: space-between;
    padding:5px 5px 5px;
    width:400px;
    border:2px black solid;
}
.nutritional img{
    width:90%;
    padding-left:30px;
}
.nutritional h5, h6{
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 18px;
}
.info {
    background-color: #F1F1F1;
    opacity: .70;
}
.info h3{
    text-align: center;
    font-size: 25px;
    color: blue;
    margin-top: 20px;
}
/*FRANCHISE*/
.questions{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F1F1F1;
    width:800px;
    opacity: .70;
    margin-top: 30px;
    align-items: center;
    margin-left: 25%;
    border: #1d1c1c 2px solid;
    padding:15px 15px;
}
.questions div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.questions h3{
    font-size: 20px;
    color: blue;
    text-align:left;
}
.questions p{
    font-size:16px;
    color: rgb(15, 1, 1);
}
.questions ul{
    padding: 25px 25px 25px;
    color: #d61010;
    font-weight: 600;
}

/*footer*/
.footer p{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    opacity: .75;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    
}