* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://images.unsplash.com/photo-1560801530-34efebfecba8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.logo img{
    width:100px;
    margin-top: 20px;
}
.header{
    text-align: center;
    padding:15px 15px;
    
}
.flag img {
    width:100px;
    float: right;
}
.header h2{
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    color:rgb(245, 9, 9) ; 
    text-shadow: 2px 2px 2px whitesmoke;
}
.header h3{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 25px;
    color: rgb(50, 50, 248);
    text-align: center; 
    text-shadow: 2px 2px 2px whitesmoke;
}
/*small screen only
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .logo img, 
    .flag img{
    width: 75%;
    }
    .header{
    font-size:14px;
    }
}
*/

/*dropdown menu*/
.dropdown {
    display: flex;
    flex-direction: column;
    width:100%;
    z-index:1;
}
.dropdown ul{
    margin:auto;
    padding: 0px; 
    list-style: none;
}

.dropdown ul li {
    float: left;
    width:200px;
    background-color: rgb(207, 18, 18);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin:2px;
    opacity:.8;
}

.dropdown ul li a {
    text-decoration: none;
    color:#F1F1F1;
    display: block;
    
}
.dropdown ul li a:hover{
    background-color: rgb(35, 35, 61);
    text-align: center;
}
.dropdown ul li ul li{
    display: none;
    background-color: rgb(156, 71, 71);
}

.dropdown ul li:hover ul li {
    display:block;
}

/*small screen only*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .dropdown {
        width:75%; 
        float: none;   
    }
    .dropdown ul li a{
        width:75%;
        float:none;
        font-size:18px;
    }
    .dropdown ul li {
        width:75%;
    }
}

/*LOCATIONS*/

.location {
    display: flex;
    flex-direction: row;
    margin-top:10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.location span{
    width:100%;
    margin-bottom: 5px;
}
.loc img{
    width:70px;
    float: left;
    margin-left: 20px;
}
.location p{
    font-size: 35px;
    text-align: center;
    color:rgb(245, 9, 9) ;
    letter-spacing: 2px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px 2px #1d1c1c;
}

.location div{
    border: red 2px solid;
    padding:5px 5px 5px;
    align-content: space-around;
    width:400px;
    margin-top: 20px;
<<<<<<< HEAD
    background-color: #F1F1F1;
    opacity: .50;
=======
>>>>>>> 8a8dd2e73351a102a30e76281a8e48e420e82f2f
}
.location h4{
    text-align: center;
    color:rgb(138, 138, 252);
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
.loc h5, address{
    text-align:center;
    font-size:16px;
    padding:5px 5px;
    color:whitesmoke;
    font-weight: bolder;
}
/*small screen only*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .location div{
        width:95%;
    }
}
/*KATIES HISTORY*/

#history{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border: 2px solid rgb(202, 7, 7);
}

#history h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 40px;
    padding-bottom: 10px;
    text-shadow: #1d1c1c 2px 2px 2px;
    font-weight: 900;
    
}
#history img{
    width:400px;
    padding-top:10px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #history img{
        width:70%;
    }
}


.katies{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color:whitesmoke;
}

.katies p{
    font-size: 16px;
    color:whitesmoke;
    padding-bottom: 10px;
    
}

/*iCECREAM HISTORY*/

#icecream{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#icecream h2{
    text-align: center;
    color:red;
    margin-top:10px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-shadow: #1d1c1c 2px 2px 2px;
    font-weight: 900;
}

#icecream > div{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
    padding-left:10px;
    border: 2px solid rgb(202, 7, 7);
    color:whitesmoke;
}

#icecream li{
    display: flex;
    padding:5px 5px 5px;  
    font-size: 16px; 
}


/*TRIVIA*/
.trivia{
    display: flex;
    flex-direction: row;
    margin-top:10px;
    align-content: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.trivia div{
    border: 2px solid rgb(202, 7, 7);
    padding:5px 5px 5px;
    width:350px;
    margin-top:5px;
    margin-bottom: 5px;
}
.trivia span, .h2{
    width:100%;
    margin-bottom: 10px;
    padding-top:10px;
    font-size: 30px;
    color:red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: #1d1c1c 2px 2px 2px;
    font-weight: 900;
}
.trivia li{
    display: flex;
    text-align: justify;
    padding:5px;
    color:whitesmoke;
}
.trivia img{
    display: flex;
    width:100%;
}
/*FLAVOR*/

#katiesflavor{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap; 
    align-content: center;
    border:2px red solid;
}
#katiesflavor span, h4{
    width:100%;
    margin-top: 5px;
    text-align: center;
    font-size:35px;
    color:red;
    font-family: 'Dancing Script', cursive;
    text-shadow: #1d1c1c 2px 2px 2px;
    font-weight: 900;
}
#nutri p{
    font-size:18px;
    color:whitesmoke;
    font-family: 'Luckiest Guy', cursive;
}
#katiesflavor div{
    justify-content: space-around;
    margin-top: 20px;
}
#katiesflavor li{
    font-size:16px;
    color:whitesmoke;
    padding:2px 2px;
    font-weight: 600;
}
.popular p, h5{
    font-size:16px;
    text-align: left;
    color: #fa2424;
}
.others{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    justify-content: center;
    margin-top: 10px;
    border:2px red solid;
}
.others > div{
    padding:5px 5px 5px;
    align-content: space-between;
    width:400px; 
}
.others p{
    width:100%;
    margin-top: 5px;
    text-align: left;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-shadow: #1d1c1c 2px 2px 2px;
    color:red;
    font-weight:600;
    padding-bottom: 5px;
}

.others li{
    font-size:16px;
    color: whitesmoke;
    padding:2px 2px;
    font-weight:600;
}

/*nutritional*/

#nutri{
    display: flex;
    flex-direction: row;
    margin-top:10px;
    justify-content:space-around;
    flex-wrap: wrap; 
    align-content: center;
}
#nutri h4{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
#nutri p{
    padding-bottom: 10px;
    text-align: center;
    color:red;
    font-size:20px;
}

.nutritional{
    display: flex;
    flex-direction: row;
}
.nutritional div{
    border:2px red solid;
    background-color:rgb(240, 175, 175);
    margin-right:5px;
}

    
.nutritional img{
    width:100%;
    padding: 5px 20px 20px;
}
.nutritional h5{
    text-align: center;
    color:blue;
    font-size: 14px;
}

/*Contact Us*/
#franchise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: red 2px solid;
    padding:15px 15px;
}
#franchise h2{
    font-size: 30px;
    text-align: center;
    color:rgb(245, 9, 9) ;
    text-shadow: 2px 2px 2px black;
    font-family: 'Luckiest Guy', cursive;
    padding-bottom: 20px;
}
#franchise h3{
    padding:10px 10px;
    font-size: 20px;
    color: blue;
}
#franchise p{
    font-size:18px;
    color:whitesmoke;    
}

#application ul{
    padding: 25px 20px;
    color: #eb1515;
    font-weight: 700;
    font-size:18px;
}

#application a{
    background-color: #f44336;
    color:#F1F1F1;
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: red 1px solid;
    border-radius:5px;
}

#application a:hover{
    background-color: #555555;
    color: white;
}

/*footer*/
.footer p{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    opacity: .70;
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

